/* Faz com que a página tenha altura total da viewport */
html,
body {
  height: 100%;
  margin: 0;
}

/* O container principal ocupa todo o espaço */
#__root,
.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

/* O conteúdo (body) cresce se precisar */
.mainContent {
  flex: 1;
}

body.login-background {
  background-image: url("/backgrounds/image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.background {
  background-color: #e9f2ff !important;
  background-image: none !important;
}

.error {
  color: red;
  font-size: 16px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
}
