.container {
  margin: auto;
  justify-content: auto;
}

.text {
  color: white;
}

/* LOGIN */
.loginForm {
  width: 400px;
  /* height: 550px; */
  background: linear-gradient(to bottom, #034c8c, #001b32);
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 3rem auto;
  padding-bottom: 1.3rem;
  /* justify-content: center; Centraliza o conteúdo interno */
  align-items: center;
  box-sizing: border-box;
}

.Image {
  width: 339px;
  margin: 30px;
}

.Button {
  width: 300px;
  border: 5px solid #f8f9fa;
  border-radius: 0.75rem;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.5rem;
}

.ancor {
  margin: 0 3rem 1rem 0;
  display: flex;
  flex-direction: row-reverse;
}

.link {
  text-decoration: none;
  color: #fce63d;
  font: bold 1rem arial;
  text-align: left;
}

h5::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: var(--highlight-yellow);
  margin-top: 8px;
  border-radius: 2px;
}
