/* Container com o card da demanda. */
.caixaCard {
    max-width: 100%;
    margin: 0; 
    padding: 0;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 8%;
}

/* Corpo do card */
.cardBody {
    padding: 20px;
    align-content: flex-end;
}

.cardDemanda {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end !important;
    min-height: 30rem;
}

.ContPerfCat {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    padding: 0;
}

/* Texto com um cortono para marca e modelo. */
.textoCardPrincipal {
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 8px;
    color: #757575;
    border: 3px solid #757575;
    border-radius: 10px;
    padding: 10px;
}

/* Texto com as informações da demanda. */
.textoCard {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #757575;
}

/* Perfil do usuário. */
.circuloPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cecece;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

/* Container com o botão para visualizar demanda. */
.containerBotao {
    text-align: center;
}

/* Botão para visualizar demanda. */
.botaoCard {
    align-self: center;
    background-color: #0061B7;
    width: 12rem;
    border: 0;
    height: 50px;
    font-weight: bold;
    margin: 0px;
    margin-top: 20px;
}

.botaoCard:hover {
    background-color: #0069C6;
}

.textoTitle {
    background-color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    text-align: center !important;
}

/* AQUI COMEÇA A ESTILIZAÇÃO DO MODAL */

/* Container contendo tudo que vai aparecer no modal. */
.ContainerModalInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
}

/* Personalização do "dialogClassName", basicamente o espaço do modal. */
.modalInfo {
    max-width: 50% !important;
}

/* Personalização do "contentClassName", todo o conteúdo que está dentro do modal. */
.modalContent {
    padding: 20px;
}

/* Modal.Title */
.tituloModal {
    font-size: 2rem;
    padding-right: 10px;
    font-weight: bold;
}

/* Título da informação que será apresentada. */
.tituloInfoModal {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Texto com as informações que serão mostradas. */
.textoInfoModal {
    font-size: 1.1rem;
    padding-bottom: 10px;
}

/* hr fazendo a divisão entre topicos. */
.divisao {
    border: none;
    border-top: 2px solid #cacaca;
    margin: 10px 0;              
    width: 100%;                  
    opacity: 1;       
}

/* Botão com a funcionalidade especifica para cada card. */
.botaoModal {
    width: fit-content;
    align-self: center;
    align-content: center;
    background-color: #0061B7;
    width: 12rem;
    border: 0;
    height: 50px;
    font-weight: bold;
    margin: 0px;
    margin-top: 15px;
}

.botaoModal:hover {
    background-color: #0069C6;
}

.botaoCancelar {
    width: fit-content;
    align-self: center;
    align-content: center;
    background-color: #DE3341;
    width: 12rem;
    border: 0;
    height: 50px;
    font-weight: bold;
    margin: 0px;
    margin-top: 15px;
}

.botaoCancelar:hover {
    background-color: #ca4853;
}

.selecaoModal {
    margin: 0px;
    margin-left: 12px;
    width: 50%;
    align-self: flex-start;
}

@media screen and (max-width: 1500px) {
    .modalInfo {
        max-width: 60% !important;
    }

}

@media screen and (max-width: 1350px) {
    .cardBody {
        height: fit-content;
    }
}

@media screen and (max-width: 1120px) {
    .modalInfo {
        max-width: 75% !important;
    }
}

@media screen and (max-width: 750px) {
    .caixaCard {
        padding: 0;
    }
}

@media screen and (max-width: 560px) {
    .ContainerModalInfo {
        grid-template-columns: repeat(1, 1fr);
    }

    .selecaoModal {
        width: 75%;
    }

    .modalInfo {
        max-width: 85% !important;
    }
}

@media screen and (max-width: 330px) {
    .botaoCard {
        width: 9rem;
        align-self: center;
        background-color: #0061B7;
        border: 0;
        height: 50px;
        font-weight: bold;
        margin: 0px;
        margin-top: 20px;
        font-size: 1rem;
    }

    .selecaoModal {
        width: 90%;
    }
}

@media screen and (max-width: 300px) {
    .ContPerfCat {
        flex-direction: column;
        gap: 16px;
    }

    .cardBody {
        padding: 10px;
    }
}

@media screen and (max-width: 270px) {
    .tituloModal {
        font-size: 1.5rem;
    }

    .tituloInfoModal {
        font-size: 1.5rem;
    }

    .botaoModal {
        width: 5rem;
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .botaoCancelar {
        width: 5rem;
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .textoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.1rem;
        font-weight: bold;
        color: #757575;
    }
}

@media screen and (max-width: 220px) {
    .tituloModal {
        font-size: 1rem;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .tituloInfoModal {
        font-size: 1rem;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .textoInfoModal {
        font-size: 1rem;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .modalContent {
        padding: 10px;
    }

    .botaoCard {
        width: fit-content;
        align-self: center;
        background-color: #0061B7;
        border: 0;
        height: 50px;
        font-weight: bold;
        margin: 0px;
        margin-top: 20px;
        font-size: 1rem;
        padding: 0px 5px 0px 5px;
    }
}