.botao {
    color: white;
    background-color: #00529A;
    border: 0px;
}

.botaoPressionado{
    background-color: black;
}

.botao:visited {
    background-color: red;
}

.botao:mouse {
    background-color: red;
}

/* 
.botaoAtivo {
    background-color:red;
    color: white;
    border: 0px;
} */