/* Tamanho total do formulário. */
.formulario {
    width: 60%;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Parte do formulário dentro do formulário */
.parteFormulario {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(204, 204, 204);
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: 1.7rem;
    padding-bottom: 0;
    margin: 0;
}

/* Campo do formulário */
.campo {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 30px;
    margin: 0px;
}

/* Lista de categoria do dispositivo */
.lista { 
    background-color: #034C8C;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 1rem;
}

/* Cada botão dentro da lista de categoria do dispositivo */
.listaBotao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-color: #0061B7;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 1px #0000005d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px !important;
    border: 2px solid transparent;
    font-size: 1rem;
    height: 50px;
}

.listaBotao:hover {
    background-color: #0069C6;
    cursor: pointer;
}

/* Quando o botão for clickado */
.listaBotaoSelecionado {
    background-color: #0069C6 !important;
    border: 2px solid #FFDA8C !important;
}

/* Botão para enviar o formulário */
.botaoSubmit {
    background-color: #0061B7;
    width: 16rem;
    border: 0;
    height: 50px;
}

.botaoSubmit:hover {
    background-color: #0069C6;
}

@media screen and (max-width: 1465px) {
    .formulario {
        width: 75%;
    }
}

@media screen and (max-width: 1260px) {
    .formulario {
        width: 80%;
    }
}

@media screen and (max-width: 1100px) {
    .lista {    
        grid-template-columns: repeat(3, 1fr);
        padding: 2%;
    }
}

@media screen and (max-width: 900px) {
    .lista {
        padding: 3%;
    }

    .formulario {
        width: 83%;
    }
}

@media screen and (max-width: 768px) {
    .parteFormulario {
        padding: 1.5rem;
    }

    .campo {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 610px) {
    .lista {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
        max-height: max-content;
    }
}

@media screen and (max-width: 448px) {
    .formulario {
        width: 90%
    }
}

@media screen and (max-width: 352px) {
    .botaoSubmit {
        width: 100%;
    }

    .titleh3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 310px) {
    .lista {    
        grid-template-columns: repeat(1, 1fr);
        padding: 6%;
    }
    
    .listaBotao {
        width: 100%;
    }

    .titleh3 {
        word-break: break-word;
        overflow-wrap: break-word;
    }
}