.containerTermos {
    padding: 30px 10px;
}

.card {
    border-radius: 16px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: none;
}

.title {
    font-size: 2.5rem;
    color: var(--primary);
    font-weight: 700;
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 16px;
    text-align: center;
}

.title::after {
    content: "";
    display: block;
    width: 120px;
    height: 4px;
    background-color: var(--highlight-yellow);
    margin: 8px auto 0;
    border-radius: 2px;
}

.subtitle {
    font-size: 2rem;
    color: var(--primary-soft);
    font-weight: 700;
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.75rem;
    text-align: left;
}

.subtitle::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--highlight-yellow);
    margin: 6px 0 0;
    border-radius: 2px;
}

.subsubtitle {
    font-size: 1.5rem;
    color: var(--primary-soft);
    font-weight: 700;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    text-align: left;

}

.text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555555;
    margin-left: 3.5rem;
    margin-bottom: 16px;
}

.text ul {
    padding-left: 1rem;
    margin: 0;
}

.link {
    color: var(--primary);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: var(--primary-soft);
}


@media (max-width: 576px) {
    .title {
        font-size: 2rem;
    }

    .text {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.3rem;
    }

    .subsubtitle {
        font-size: 1.1rem;
    }
}