/* Card com o curso */
.caixa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0px 0px;
    padding-left: 8%;
    padding-right: 8%;
    max-width: none;
}

@media screen and (max-width: 1400px) {
    .caixa {
        padding-left: 4%;
        padding-right: 4%;
    }  
}

@media screen and (max-width: 1230px) {
    .caixa {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 4%;
        padding-right: 4%;
    }  
}


@media screen and (max-width: 900px) {
    .caixa {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 16%;
        padding-right: 16%;
    }  
}

@media screen and (max-width: 650px) {
    .caixa {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 6%;
        padding-right: 6%;
    }  
}