/* Definição de style do "Navbar" */
.navbar {
    background: #034C8C;
    box-shadow: 10px 7px 10px 0px rgb(204, 204, 204);
}

/* Definição de style do "Container" */
.container {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    padding: 0px;
    align-items: center !important;
    width: 100%;
}

/* Titulo do dropdown. */
.dropDownTitle {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.icone {
    padding-right: 8%;
}

/* Quando o dropdown for ativado. */
.dropDownActive {
    background-color: #005DB1;
    border-radius: 10px 10px 10px 0px;
}

/* Mudando o estilo do menu quando está ativo. */
.dropDownActive :global(.dropdown-menu.show) {
    background-color: #005DB1;
    margin: 0;
    border: 0;

}

.dropdownItem {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
}

/* Tirando o icone do dropdown 🙏 */
:global(.dropdown-toggle::after) {
    display: none !important;
}

/* 
.brand {
    /* Colocar css 
} */

/* Definição de style de "Nav.Link" */
.meuLink {
    display: flex;
    align-items: center;

    color: white;
    background-color: transparent;
    padding: 0px 0px !important;
    border-radius: 8px;
    height: 60px;
    width: 90%;
    justify-self: center;
}

.meuLink:hover {
    background-color: #005DB1;
    color: white;
}

.meuLink:active,
.meuLink:focus {
    color: white;
    border: 2px solid #FFDB8C;
    background-color: #005DB1;
    color: white;
}