/* Definição de style do "Navbar" */
.navbar {
    background: #034C8C;
    color: white;
    transition: width 0.3s ease; /* Transição de tamanho */
    box-shadow: 10px 7px 10px 0px rgb(204, 204, 204);
}

/* Definição de style do "Container" */
.container {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    padding: 0px;
    align-items: center !important;
    width: 100%;
}

/* Todo o dropdown */
.dropdown {
    background-color: transparent;
}

.dropdown:focus:focus-visible {
    background-color: #005DB1;
}

/* Titulo do dropdown */
.dropdownTitle {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

.dropdownItem {
    background-color: red;
}

/* Tirando o icone do dropdown 🙏 */
:global(.dropdown-toggle::after) {
  display: none !important;
}

.brand {
/* Colocar css */
}

/* Definição de style de "Nav.Link" */
.meuLink {
    display: flex;
    align-items: center;

    color: white;
    background-color: transparent;
    padding: 0px 0px !important;
    border-radius: 8px;
    height: 60px;
    width: 90%;
    justify-self: center;
}

.meuLink:hover {
    background-color: #005DB1;
    color: white;
}

.meuLink:active, .meuLink:focus {
    color: white;
    border: 2px solid #FFDB8C;
    background-color: #005DB1;
    color: white;
}


/* Definição de style do icone e do texto ao lado*/
.meuLink .icone {
    width: 30px;
    max-width: 30px;
    max-height: 30px;
    flex-shrink: 0;
    position: fixed;
    left: 40px;
}   



.meuLink .texto {
    position: fixed;
    font-size: 18px;
    font-weight: 600;
    color: white;
    left: 75px;
}

.navbar:hover .icone {
    transform: translateX(-10px); /* Move o ícone quando tiver o hover no navbar */
    transition: transform 0.3s ease;
}
