* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.section {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.demandaSection {
  /* background-image: url("https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
 background: linear-gradient(
      rgba(144, 183, 216, 0.75),
      rgba(144, 183, 216, 0.55)
    ),
    url("https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
      center/cover no-repeat;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.operadorSection {
   background: linear-gradient(
      rgba(121, 121, 121, 0.75),
      rgba(144, 183, 216, 0.55)
    ),
    url("https://images.pexels.com/photos/4705635/pexels-photo-4705635.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
      center/cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
  margin: 2rem auto;
  padding: 1rem;
}

.botoesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  width: max-content;
}

.botaoTexto {
  flex: 0 0 150px;
  min-height: 140px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 0.25rem;
  overflow: hidden;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.iconeWrapper {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0.3rem;
}

.icone {
  width: 2rem;
  height: 2rem;
}

.textoWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.15rem;
  font-size: 1.4rem;
}