* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

h4 {
  font-size: 1.8rem;
  color: var(--primary);
  font-weight: 500;
  position: relative;
  margin-bottom: 1rem;
}

.section {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
  padding: 1rem;
  min-width: 800px;
  width: fit-content;
  max-width: 100%;
  margin: 1rem;
  gap: 1rem;
}

/* Apenas o primeiro card terá transparência */
.cardTransparente {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.65);
  font-size: larger;
  padding: 1rem;
  min-width: 800px;
  max-width: 100%;
  margin: 1rem;
}

.botoesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: fit-content;
  max-width: 100%;
}

.cardWrapperCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
  margin: 2rem auto;
  padding: 1rem;
} */

.relatoriosSection {
  /* background-image: url("https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  background: linear-gradient(rgba(144, 183, 216, 0.75),
      rgba(144, 183, 216, 0.55)),
    url("https://images.pexels.com/photos/4705635/pexels-photo-4705635.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center/cover no-repeat;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.demandaSection {
  background: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(197, 201, 204, 0.55)),
    url("https://images.pexels.com/photos/9242901/pexels-photo-9242901.jpeg") center/cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.assistenciaSection {
  background: linear-gradient(rgba(121, 121, 121, 0.75),
      rgba(144, 183, 216, 0.55)),
    url("https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center/cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.botaoTexto {
  flex: 1 1 140px;
  max-width: 180px;
  min-width: 140px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 0.25rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.iconeWrapper {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0.3rem;
}

.icone {
  width: 2.5rem;
  height: 2.5rem;
}

.textoWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.15rem;
  font-size: 1.4rem;
}

.cardRelatorioNovo {
  background-color: #0a67aa;
  border-radius: 12px;
  padding: 1rem;
  width: calc(25% - 1rem);
  /* 4 por linha */
  min-width: 220px;
  max-width: 280px;
  min-height: 130px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.cardRelatorioNovo .icone {
  width: 32px;
  height: 32px;
  margin: 1rem;
}

.cardRelatorioNovo .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardRelatorioNovo .valor {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
}

.cardRelatorioNovo .descricao {
  font-size: 0.95rem;
  color: #f5f5f5;
}

.cardRelatorioNovo .percentual {
  font-size: 0.85rem;
  color: #28a745;
  font-weight: 500;
}

.wrapperRelatoriosNovo {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  padding: 1.5rem;
}

/* Responsivo */
@media (max-width: 992px) {
  .cardRelatorioNovo {
    width: calc(33.33% - 1rem);
  }
}

@media (max-width: 768px) {
  .cardRelatorioNovo {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .cardRelatorioNovo {
    width: 100%;
  }
}