.container {
  margin: auto;
  padding: 1rem;
  width: 570px;
  height: 750px;
  background: linear-gradient(to bottom, #034c8c, #001b32);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.text {
  color: white;
}

.Image {
  width: 339px;
  margin: 20px;
  margin-bottom: 10px;
}

.checkbox {
  margin-left: .5rem;
  font-size: 14px;
  color: white;
}

.Button {
  width: 70%;
  border: 5px solid #f8f9fa;
  border-radius: .6rem;
  background-color: transparent;
  font: bold 1.5rem arial;
}

.link {
  color: #FFDB8C;
  text-decoration: none;
  font: bold 1.1rem arial;
}

.link:hover {
  color: #ddd;
  text-decoration: none;
}


