.container {
  margin: 20px auto;
  padding: 1rem;
  width: 570px;
  height: 730px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #034c8c, #001b32);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.containerPagamento {
  margin: 20px auto;
  padding: 1rem;
  width: 570px;
  height: 650px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #034c8c, #001b32);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.containerPergunta {
  margin: auto;
  padding: 1rem;
  width: 570px;
  height: 490px;
  background: linear-gradient(to bottom, #034c8c, #001b32);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.containerAssistencia {
  margin: auto;
  padding: 1rem;
  width: 570px;
  height: 678px;
  background: linear-gradient(to bottom, #034c8c, #001b32);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.containerEndereco {
  margin: 3rem auto;
  padding: 1rem;
  width: 570px;
  height: 550px;
  background: linear-gradient(to bottom, #034c8c, #001b32);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.dropdown {
  text: left;
  width: 500px !important;
  height: 60px;
  margin: auto;
  color: black;
  background-color: white;
}

.text {
  color: white;
}

.Image {
  width: 339px;
  margin: 20px auto 10px auto;
  display: block;
}

.checkbox {
  margin-left: 0.5rem;
  font-size: 14px;
  color: white;
}

.Button {
  width: 80%;
  border: 3px solid #f8f9fa;
  border-radius: 0.6rem;
  background-color: transparent;
  font: bold 1.5rem arial;
}

.link {
  color: #ffdb8c;
  text-decoration: none;
  font: bold 1.1rem arial;
}

.link:hover {
  color: #ddd;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
  
}