/* Div com todo o footer. */
.footer {
  background-color: var(--black);
  color: var(--white);
  padding-top: 2rem;
  width: 100%;
}

/* Linha onde o footer está. */
.linhaFooter {
  margin-left: auto;
}

/* Coluna com a logo e funcionalidades. */
.coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
}

/* Imagem do ConnectFix. */
.logo {
  width: 100px;
}

/* Span com texto para seguir nas redes sociais. */
.sigaRedes {
  font-size: 1rem;
  color: var(--white);
}

/* Container com todos os icones. */
.iconContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* Link para as redes sociais. */
.iconSocial {
  color: var(--white);
  transition: color 0.3s;
  width: 24px;
  height: 24px;
}

.iconSocial:hover {
  color: var(--highlight-blue);
}

/* Título dentro do footer. */
.tituloFooter {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

/* Funcionalidades de navegação no footer. */
.linkFooter {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  display: block;
  margin: 0.5rem 0;
  text-align: center;
}

.linkFooter:hover {
  color: var(--highlight-blue);
}

/* Informações que não são interagíveis. */
.paragrafoFooter {
  font-size: 1rem;
  color: var(--white);
  margin: 0.3rem 0;
  text-align: center;
}

@media screen and (max-width: 992px) {
    .coluna {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .imgSenai {
        width: 40vh;
    }

    .linhaFooter {
      margin: auto;
    }
}

@media screen and (max-width: 440px) {
    .imgSenai {
        width: 100%;
    }

    .tituloFooter {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 220px) {
  .tituloFooter {
    font-size: 1.05rem;
  }
  
  .sigaRedes {
    font-size: 0.95rem;
  }
}