.container {
  margin: auto;
  justify-content: auto;
}

.text {
  color: white;
}

/* LOGIN */
.registerForm {
  width: 570px;
  height: 750px;
  background: linear-gradient(to bottom, #034c8c, #001b32);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  /* justify-content: center; Centraliza o conteúdo interno */
  align-items: center;
  box-sizing: border-box;
}

.Image {
  width: 339px;
  margin: 20px;
  margin-bottom: 10px;
}

.link {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

.link:hover {
  color: #ddd;
  text-decoration: none;
}

.Button {
  margin-top: 3rem;
  margin-bottom: 0;
  margin-left: 3rem;
  margin-right: 3rem;
  border: 5px solid #f8f9fa;
  border-radius: 0.75rem;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.5rem;
}

.ancor {
  text-align: right;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.inputRow {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1rem;
}

.checkbox {
  margin-left: 3rem;
  font-size: 14px;
  color: white;
  position: absolute;
  width: 253px;
  height: 14px;
}
